/* .first-container{
  
} */

.second-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 87vh;
  min-width: 100%;
  max-width: 100%;
}

/* @media (max-width: 992px) {
  .second-container {
    height: 100vh;
  }
} */

.backtochat-btn{
  padding: 0;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40px;
  background-color: white;
  color: #00c2b8;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  margin: auto;
  font-size: 2vw;
}

@media (max-width: 500px) {
  #parent-chatbox {
    display: none;
    width: 100%;
    z-index: 10;
  }

  .chatrooms-box{
    width: 100%;
  }

  .backtochat-btn{
    font-size: 5vw;
  }
}